# Byte-compiled / optimized / DLL files
__pycache__/
/api/__pycache__/

*.py[cod]
*$py.class

/api/*.py[cod]
/api/*$py.class

# Flask stuff:
instance/
.webassets-cache

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
lib64
include/
pyvenv.cfg
build/
bin/
.eggs/
lib/
./.idea

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

.idea/

